.header-container {
    /* display: flex;
    padding: 22px 112px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    z-index: 100; */

    display: flex;
    padding: 22px 112px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex: 1;
    z-index: 100;
    max-width: 1280px;
}


.header-body {
    display: flex;
    border: solid 1px #E3E2E0;
    width: 100%;
    height: auto;
    padding: 6px 6px 6px 16px;
    border-radius: 18px;
    justify-content: space-between;
    /* background-color: #ffffffce; */
    transition: all 0.3s ease;
    /* Transição suave */
    align-items: center;

    background: rgba(255, 255, 255, 0.968);
    /* Funda a cor com transparência */
    backdrop-filter: blur(6px);
    /* Aplica o blur no fundo */
    -webkit-backdrop-filter: blur(6px);
    /* Para compatibilidade com Safari */

}

.header-container.scrolled .header-body {
    border: none;
    /* Remove a borda */
    padding: 0;
    /* Remove o padding */
    background-color: transparent;
    /* Muda o fundo para transparente */
}


.header-logo {
    height: 36px;
}



@media (max-width: 1024px) {
    .header-container {
        display: flex;
        padding: 12px 24px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        position: sticky;
        top: 12px;
    }
}